[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[requires]
python_version = "3.6.*"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
statsmodels = "*"
keras = "*"
tensorflow = "*"

[dev-packages]
pytest = "*"
ipython = "*"
jupyter = "*"
